{% extends "@Id4vMenu/Base/base_menu.html.twig" %}

{% block list %}
    <ul {{ block("listAttributes") }}>
    {%  for item in items if item.active %}
        {{ block("item",{"item":item}) }}
    {% endfor %}
    </ul>
{% endblock %}

{% block item %}
    <li {{ block("itemAttributes") }}>
        {{ block("item_link") }}
        {% if item.hasChildren %}
            {% set currentItems = items %}
            {%  set items=item.children %}
            {{ block("list") }}
            {% set items= currentItems %}
        {% endif %}
    </li>
{% endblock %}

{% block item_link %}
    <a {{ block("linkAttributes") }} href="{{ item.url }}" target="{{ item.target }}">{{ block("linkLabel") }}</a>
{% endblock %}

{% block menu %}
    <nav {{ block("navAttributes") }} >
        {{ block("list") }}
    </nav>
{% endblock %}

{% block navAttributes %}
    {% spaceless %}
        class="navbar navbar-default"
    {% endspaceless %}
{% endblock %}

{% block listAttributes %}
    {% spaceless %}
        {% if items[0].depth == 1 %}
            class="nav navbar-nav"
        {% else %}
            class="dropdown-menu" role="menu"
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block itemAttributes %}
    {% spaceless %}
        {% set classes="" %}
        {% if item.hasChildren %}
            {% set classes = ("dropdown " ~ classes)%}
        {% endif %}

        {% if matcher.isInActiveTree(item) %}
            {% set classes = ("active " ~ classes)%}
        {% endif %}
        class="{{ classes|trim }}"
    {% endspaceless %}
{% endblock %}

{% block linkAttributes %}
    {% if item.hasChildren %}
        class="dropdown-toggle" data-toggle="dropdown" role="button"
    {% endif %}
{% endblock %}

{% block linkLabel %}
    {% if item.title == items[0].title and item.depth==1 %}
        <span class="glyphicon glyphicon-home"></span>
    {% endif %}
    {{ item.title }}
    {% if item.hasChildren %}
        <span class="caret"></span>
    {% endif %}
{% endblock %}
