{% extends "SonataAdminBundle::standard_layout.html.twig" %}

{% block tab_menu %}
    <h2>Ajouter un item au menu</h2>
{% endblock %}

{% block sonata_admin_content %}
    <style>
        .required:after{
            content:"";
        }
    </style>
    {{ parent() }}
    {{ form_start(form,{"attr":{"class":"form"}}) }}
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.title) }}
        {{ form_errors(form.title) }}
        {{ form_widget(form.title,{'attr': {'class':"form-control"}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.url) }}
        {{ form_errors(form.url) }}
        {{ form_widget(form.url,{'attr': {'class':"form-control"}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.target) }}
        {{ form_errors(form.target) }}
        {{ form_widget(form.target,{'attr': {'class':"form-control"}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.active) }}
        {{ form_errors(form.active) }}
        {{ form_widget(form.active,{'attr': {'class':"form-control"}}) }}
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-3 col-md-offset-3">
                <input type="submit" class="btn btn-success"/>
            </div>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}
